@import '../../../styles/mixins.scss';
@import '../../../styles/themes/_settings.scss';
#menu {
    &.vertical-menu {
        width: 250px;
        padding: 0px 25px;
        margin-top: 15px;
        position: fixed;
        max-height: calc(100% - 116px);
        overflow-y: auto;
        a {
            line-height: 1;
            color: $primary;
            display: block;
            margin: 4px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
        }
        li {
            list-style-type: none;
            ul {
                display: block;
                padding-left: 15px;
                a {
                    font-size: 1rem;
                    @media (max-width: 900px) {
                        font-size: 1.3rem;
                        font-weight: 300;
                        margin: 15px 0px;
                    }
                }
            }
        }
    }
}