
<div id="home">
    <img class="img_home" src="https://static.zarahome.net/8/static4/itxwebstandard/homes/HomeFebrero/img/adulto/slider/slider_florist.jpg?20180219040002">
    <!-- <div class="contenidoLino">
        <div class="contenidoLinoHeader">
            <h1 class="lino_f_1">&nbsp;&nbsp;All about
                <br>linen</h1>
        </div>
    </div> -->
    <div class="contenidoFlorist">
        <h1 class="florist_f_1">IN BLOOM</h1>
        <h2 class="florist_f_2">/ Florist Collection</h2>
    </div>
</div>