#footer {
  border-top: 1px dotted #1e1e1e;
  padding: 24px;
  margin: 0px 15px; }
  #footer > div {
    margin: 10px 0px; }
  #footer a {
    color: #666;
    display: -webkit-box;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 1rem; }
    #footer a:hover {
      color: #1e1e1e;
      text-decoration: underline; }
